# Credentials of sync.com
EMAIL      = ''
PASSWORD   = ''

# Enable 2FA (true) or not (false)
FLAG_2FA   = 'false'

# Display files or vault tab
DISPLAY_ID = 'vault'

# MTSPEED is how much CHUNK_SIZE you want to download together
# Max speed in unlimited is 5 MB at best and CHUNK_SIZE is about 10 MB
# 5 is working
# Increasing can make it less stable, make nginx errors or make your computer slow
MTSPEED    = 5

# Maximum amount of retry for a read
RETRYCOUNT = 99

# Log empty directories
# Create log.txt with path and sync_id
LOG_EMPTY_DIRECTORIES = 'false'
